## PRODUCTION
NODE_ENV=production
ENV_BACKEND_URL=https://ttm-api.orderplan.app/v1

ENV_DEFAULT_COUNTRY_CODE='MY'
ENV_PROJECT_NAME='TTM'
ENV_DEFAULT_LANGUAGE='en'

ENV_IOS_STORE_DOWNLOAD="https://apps.apple.com/us/app/?"
ENV_GOOGLE_STORE_DOWNLOAD="https://play.google.com/store/apps/details?id=?"
